<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>회원가입</title>
</head>
<body>
<h1>회원가입 페이지</h1>
<form action="/join" method="post">
  <input type="text" name="username" placeholder="username" required><p>
  <input type="password" name="password" placeholder="password"><p>
  <input type="email" name="email" placeholder="email"><p>
  <select name="role">
    <option value="ROLE_USER">유저</option>
    <option value="ROLE_MANAGER">매니저</option>
    <option value="ROLE_ADIMN">어드민</option>
  </select>
  <button>회원가입</button>
</form>
</body>
</html>